BROWSER_HEADLESS=false
BROWSER_DRIVER_URL=http://localhost:9515
BROWSER_PROFILE_DIR=browser_profile
AREA_CODE=113
ITEMS_PER_PAGE=10
PAGE_TIMEOUT=30000
HH_LOCALE=EN
SERVER_HOST=127.0.0.1
SERVER_PORT=3000
